.technologies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  overflow: hidden;
}

.technologies-heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 50px;
  font-weight: 700;
}

.technologies-scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scroll */
  width: 100%;
  padding: 10px 0;
  scroll-snap-type: x mandatory; /* Snap to items */
  position: relative;
  white-space: nowrap; /* Prevent wrapping */
  perspective: 1000px; /* For 3D effects */
}

.technology-item {
  display: inline-flex; /* Inline to allow horizontal scroll */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #002244;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  scroll-snap-align: center; /* Align items to the center of the scroll container */
  position: relative;
  transform-style: preserve-3d; /* Enable 3D effects */
}

.technology-icon {
  font-size: 4rem;
  color: white;
  margin-bottom: 10px;
  z-index: 2;
}

.technology-name {
  font-size: 1.2rem;
  color: white;
  z-index: 2;
}

/* Responsive design */
@media (max-width: 768px) {
  .technologies-scroll {
    flex-direction: column;
    gap: 20px;
  }
  .technology-item {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 600px) {
  .technologies-scroll {
    flex-direction: column;
  }
  .technology-item {
    width: 100px;
    height: 100px;
  }
}


/* technologies.css */

/* Animation keyframes for scrolling effect */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}


/* Apply animation to scrolling items */
.scroll-left {
  display: flex;
  animation: scrollLeft 20s linear infinite;
}


/* Ensure items are displayed in a row and overflow hidden on wrapper */
.wrapper {
  position: relative;
  overflow: hidden;
  height: 100px;
  margin-top: 5rem;
}

.item {
  flex-shrink: 0;
  width: 200px;
  height: 100px;
  background-color: red;
  border-radius: 6px;
  margin-right: 16px; /* Adjust margin as needed */
}


/* Add this to your global CSS file or a CSS module */

@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-scroll-right {
  animation: scroll-right 20s linear infinite;
}


